<footer class="footer">
  <div class="footer-contenido">
    <div class="footer-logo">
      <div class="footer-redes">
        <h4>Síguenos</h4>
        <p>Facebook | Instagram | Twitter</p>
      </div>
    </div>
    <div class="footer-categorias">
      <h4>Categorías</h4>
      <a href="#">Computadores</a>
      <a href="#">Celulares</a>
      <a href="#">Tablets</a>
      <a href="#">Accesorios</a>
      <a href="#">Periféricos</a>
    </div>
    <div class="footer-explora">
      <h4>Explora</h4>
      <a href="#">Productos</a>
      <a href="#">Ofertas</a>
      <a href="#">Más vendidos</a>
      <a href="#">Nuevos ingresos</a>
      <a href="#">Recomendados</a>
    </div>
    <div class="footer-soporte">
      <h4>Soporte</h4>
      <a routerLink="/contacto">Contacto</a>
      <a href="#">Preguntas frecuentes</a>
      <a href="#">Políticas de garantía</a>
      <a href="#">Envíos</a>
      <a href="#">Devoluciones</a>
    </div>
    <div class="footer-contacto">
      <h4>Contacto</h4>
      <p>Email: NOVATECH-1&#64;outlook.com</p>
      <p>Tel: +57 311 895 7844</p>
    </div>
  </div>
  <div class="footer-copy">
    <p>© 2026 NovaTech - Todos los derechos reservados<br>Bogotá - Colombia</p>
  </div>
</footer>
